google-genai
langchain
langgraph
langchain-google-genai
langchain-core
edge-tts
pygame
SpeechRecognition
pyttsx3
pyaudio
numpy
pvporcupine
flask
requests
python-dotenv
pillow
opencv-python
pyautogui
wikipedia
pypdf
pywhatkit
